    <footer class="navbar navbar-dark bg-dark fixed-bottom"></footer>
  </main>

  <script src="https://assets.codepen.io/1674766/jquery.min.js"></script>    
  <script src="https://assets.codepen.io/1674766/bootstrap.bundle.min.js"></script>
  <script src="/public/js/register.js" defer></script>   
</body>
</html>