<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heroics</title>
    <link rel="shortcut icon" href="https://assets.codepen.io/1674766/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="https://assets.codepen.io/1674766/apple-touch-icon.png" />
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>

    <header class="header" id="header" role="navigation" aria-label="navigation">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/cool">Faces</a>
    </header>

    <main role="main" class="main" id="main" aria-label="main">
        